
.card-photo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  
    object-fit: cover;
    object-position: center right;
}

.stylized-border{
    border-radius: 0% 10% 0% 10%;
}


.font-color-light{
    color: #fbfbfb;
}

.font-color-dark{
    color: #131313;
}

.text-align-right{
    text-align: right;
}

.fill-color-green{
    background-color: #AFE1AF;
}



.font-style-impact-title{
    font-size: 32pt;
    font-family: Monaco, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    margin: 3vh;
    font-style: none;
    text-decoration: none;
}

.div-container{
    position: relative;
}

.div-container .bottom-child-container{
    position:absolute;
    bottom: 0;
}